html, body {
	font-family: 'Raleway', Arial, sans-serif;
	background: linear-gradient(to top, #212121, #292929);
	background-size: cover;
	text-align: center;
	color: #d6d6d6;
	padding: 0px;
	margin: 0px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
	color-scheme: dark;
	width: 260px;
	height: 700px;
}

:root {
	--hover: #4f4f4f;
	--border: 1px;
	--radius: 30px;
	--height: 8px;
	--layer0: #000;
	--layer1: #111;
	--layer2: #222;
	--layer3: #444;
	--layer4: #555;
	--layer5: #777;
	--accent: #d02a2a;
}

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {
	background: var(--layer2);
}
::-webkit-scrollbar-thumb {
	background: var(--layer4);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {background:var(--layer5);}
::-webkit-scrollbar-thumb:active {box-shadow: 0 0 10px black;}

header {
	text-align: left;
}

select {
	background-color:var(--layer2);
	background-image: linear-gradient(to right, transparent 70%, rgba(0,0,0,0.4) 80%, rgba(255,255,255,0.1) 80%, rgba(200,200,200,0.1)),linear-gradient(to left top, #121212, #292929) !important;
}

select:active {
	background-image: linear-gradient(to right, transparent 70%, rgba(0,0,0,0.4) 80%, rgba(255,255,255,0.1) 80%, rgba(200,200,200,0.1)),linear-gradient(to left top, #292929, #121212) !important;
}

.formcontainer {
	background: var(--layer2);
	padding: 0px 0px 40px 0px;
	width: 500px;
	margin: 10px 0px;
	border-radius: var(--radius);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.7), -2px -2px 5px rgba(240,240,240,0.3);
}

.formcontainer header {
	text-align: left;
}

.colors {
	background: linear-gradient(to left top, #f79817, #ffb042);
}

.neo-button {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	cursor: pointer;
	font-family: Arial, sans-serif;
	background: linear-gradient(to left top, var(--layer1), var(--layer2));
	color: currentColor;
	border: var(--border) var(--layer2) solid;
	box-shadow: 2px 2px var(--height) rgba(0,0,0,0.7), -2px -2px var(--height) rgba(255,255,255,0.3);
	transition: box-shadow .3s ease, border .3s ease;
	font-size: 13px;
	padding: 8px;
	margin: 4px;
	border-radius: var(--radius);
	width: 140px;
}

.neo-button:hover,input.neo:hover,textarea.neo:hover,select.neo:hover,.neo-labeledcheck:hover span {
	border-color: var(--hover) !important;
}

input:focus,select:focus,textarea:focus {outline:none;}

.neo-button:active {
	box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(255,255,255,0), 2px 2px var(--height) rgba(0,0,0,0.7) inset, -2px -2px var(--height) rgba(240,240,240,0.3) inset;
	border-color: rgba(0,0,0,0);
	background: linear-gradient(to left top, var(--layer2), var(--layer1));
}

input.neo,select.neo,textarea.neo,.neo-labeledcheck span,.neo-tag {
	transition: box-shadow .3s ease, border .3s ease, background .3s ease;
	font-family: Arial, sans-serif;
	background-image: linear-gradient(to left top, var(--layer1), var(--layer2));
	color: currentColor;
	font-size: 13px;
	padding: 10px;
	margin: 2px;
	border: var(--border) var(--layer2) solid;
	border-radius: var(--radius);
	box-shadow: 2px 2px var(--height) rgb(0 0 0), -2px -2px var(--height) rgb(255 255 255 / 35%);
}

input.neo:active, input[type="text"].neo:focus, textarea.neo:focus, select.neo:active,.neo-labeledcheck:active span {
	box-shadow: 0 0 0 rgb(0 0 0 / 0%), 0 0 0 rgb(255 255 255 / 0%), 2px 2px var(--height) rgb(0 0 0) inset, -2px -2px var(--height) rgb(255 255 255 / 35%) inset;
	border-color: rgba(0,0,0,0);
	background-image: linear-gradient(to left top, var(--layer2), var(--layer1));
}

.disabled {
	background: #ffcb85 !important;
	color: #595959 !important;
	box-shadow: none !important;
}

#mainheader {
	font-size: 12px;
	text-align: left;
	margin-top: 10px;
}

.indent {
	margin: 5px 10px;
}

h2 {
	font-size: 17px;
	font-weight: 600;
}

h3 {
	color: #bfbfbf;
	font-weight: 500;
	font-size: 12px;
	margin: 2px;
}

#content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

hr {
	border-color: #3d3d3d;
	width: 100%;
	box-sizing: border-box;
}

.iconbutton {
	width: 45px;
	height: 45px;
}

.icon {
	display: inline;
	height: 25px;
	width: 25px;
}

.buttonicon {
	width: 20px;
	height: 20px;
}

label.iconbutton {
	height: 25px !important;
	width: 25px !important;
}

label {
	font-weight: 600;
	font-size: 12px;
}

.center-container-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contanter-padding {
	margin: 5px;
	align-items: left;
}

footer {
	margin: 10px;
	font-size: 10px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 25px;
	margin: 0px 3px 0px 0px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to left top, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
	box-shadow: 2px 2px var(--height) rgb(0 0 0 / 94%), -2px -2px var(--height) rgb(255 255 255 / 30%), rgba(255, 255, 255, 0.3) 0px 1px inset;
	background-color: grey;
	-webkit-transition: .4s;
	transition: .3s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 3px;
	background: linear-gradient(to left top, #babababa, #d1d1d1);
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-webkit-transition: .4s;
	transition: .4s;
}

.switch input:checked + .slider {
	background-color: var(--accent);
}

.switch input:active+ .slider {
	box-shadow: 0 0 0 rgb(0 0 0 / 94%), 0 0 0 rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 0px -1px inset,2px 2px var(--height) rgb(0 0 0 / 94%) inset, -2px -2px var(--height) rgba(255, 255, 255, 0.9) inset;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(19px);
	-ms-transform: translateX(19px);
	transform: translateX(19px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.vl {
	display: inline;
	border: 1px outset #3d3d3d;
	height: 23px;
	width: 0px;
}

.sliderlabel {
	margin: 5px;
	text-align: left;
}

.slidercontainer {
	display: flex;
	justify-content: left;
	margin: 5px;
	font-size:  15px;
}

.center-container-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

textarea {
	width: 80%;
	resize: none;
	border-radius: 20px;
}

.hid {
	opacity: 0%;
	pointer-events: none;
}

.fhid{display:none}

.dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
	background: rgba(0,0,0,0.4);
	backdrop-filter: blur(5px);
	transition: opacity .3s ease, background .3s ease;
	z-index: 100;
	flex-direction: column;
}
input,select,textarea {margin: 8px !important;}

.neo-labeledcheck {
	user-select:none;
	display:inline-block;
	margin: 3px 0;
}
.neo-labeledcheck input{display:none;}
.neo-labeledcheck input:checked + span {
	background-color:var(--accent);
	border-color:#611919;
}
.neo-labeledcheck span {
	padding:5px 10px;
	font-size:10px;
	background-color:black;
	background-image:linear-gradient(135deg, rgba(255,255,255,0.1),rgba(0,0,0,0.2)) !important;
	display:inline-block;
	box-sizing:border-box;
	font-weight: normal;
}
.yf-cat-cont {padding: 5px;}
.neo-set {
	border-radius: var(--radius);
	border: groove 2px #000000;
}
.yf-tag-cont {
	padding:10px;
	margin:10px;
	min-height:10vh;
	text-align:left;
	overflow:hidden;
	display:flex;
	flex-wrap:wrap;
}
.neo-tag {
	display:inline-block;
	padding:3px 5px;
	--height: 4px;
	margin: 5px 2px;
	align-items:center;
	display:inline-flex;
}
.neo-tag-button {
	display:inline-flex;
	align-items:center;
	justify-content:center;
	font-size:25px;
	width:15px;
	height:15px;
	margin:0 0 0 5px;
}
.yf-tag-input {
	border:none;
	background:none;
	display:block;
	padding:5px;
	margin:0;
	min-width:30px;
	flex-basis:0%;
	flex-grow:1;
	flex-shrink:1;
	flex:1;
}
.yf-tag-inner{display:contents;}